:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Quicksand', sans-serif;
  --primary-text-color: #3d4f9f;
  --secondary-text-color: #8d96bd;
  --accent-color: #4c85ff;
  --first-background-color: #d2e1ff;
  --second-background-color: #f3f6ff;
  --third-background-color: #d2e1ff;
  --background-btn-filters: #f4f4fd;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ol,
.list {
  list-style: none;
}

.link {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*=============== Components ================= */

.container {
  padding: 0 15px;
  width: 1196px;
  margin: 0 auto;
}

.modal-btn-blue {
  padding: 13px 15px;
  height: 43px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 13px;
  line-height: 1.23;
  border: none;
  background-color: var(--first-background-color);
  color: var(--accent-color);
}

.modal-btn-blue:hover,
.modal-btn-blue:focus {
  background-color: var(--accent-color);
  color: white;
}

.subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.93;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.title {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*=============== Components ================= */

/*=============== Header ===================== */

.nav-btn {
  margin-left: 35px;
}

.social-list {
  gap: 34px;
  display: flex;
  align-items: center;
}

.social-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 33px;
}

.nav-list {
  gap: 42px;
  display: flex;
  align-items: center;
}

.logo-link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  margin-right: 73px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.21;
  color: var(--primary-text-color);
}

.logo-color {
  color: var(--accent-color);
}

.nav-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--accent-color);
}

/*=============== Header ================= */

/*=============== Hero =================== */

.hero-text-wrapper {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.hero-text {
  text-align: center;
}

.hero-wrapper {
  padding-top: 91px;
  padding-bottom: 91px;
}

.hero-page {
  background-image: url(/img-about-us/hero-img.png),
    linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
  background-size: cover;
  border-top: 1px solid #d8e3fe;
  border-bottom: 1px solid #d8e3fe;
}

.hero-title {
  margin-bottom: 28px;
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
  color: var(--primary-text-color);
}

.hero-title-bold {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: var(--primary-text-color);
}

/*=============== Hero =================== */

/*=============== Partners =============== */

.partners-list {
  gap: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-wrapper {
  padding-top: 58px;
  padding-bottom: 58px;
}

.partners-logo {
  width: 116px;
  height: 29px;
}

/*=============== Partners =============== */

/*=============== Plan manage ============= */

.plan-manage-text {
  margin-bottom: 47px;
}

.plan-manage-btn {
  display: flex;
  align-items: center;
}

.plan-manage-title {
  margin-bottom: 27px;
}

.plan-manage-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 36px;
}

.plan-manage-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 130px;
}

.plan-manage {
  background: #f2f6ff;
}

.modal-btn-stroke {
  padding: 13px 15px;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  height: 43px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
}

.modal-btn-stroke:hover,
.modal-btn-stroke:focus {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: white;
}

/*=============== Plan manage ============= */

/*=============== About us ================ */

.about-us-btn {
  gap: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 92px;
}

.about-us-list {
  gap: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 223px;
  margin-right: 223px;
}

.about-us-main-title {
  margin-bottom: 92px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: var(--primary-text-color);
}

.about-us-wrapper {
  padding-top: 130px;
  padding-bottom: 130px;
}

.about-us {
  background-image: url('/img-about-us/clouds.png');
  background-repeat: no-repeat;
  background-position: 50% 70px;
  border-top: 1px solid #d8e3fe;
  border-bottom: 1px solid #d8e3fe;
}

.text-between-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 177.04%;
  text-align: center;
  color: var(--secondary-text-color);
}

.modal-btn-pink {
  padding: 13px 15px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 13px;
  line-height: 1.23;
  border: none;
  background-color: #ffd7d7;
  color: #d43f3f;
}

.modal-btn-pink:hover,
.modal-btn-pink:focus {
  background-color: #d43f3f;
  color: white;
}

.about-us-title {
  margin-top: 33px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 177.04%;
  text-align: center;
  color: var(--accent-color);
}

.about-us-text {
  font-weight: 500;
  font-size: 11px;
  line-height: 177.04%;
  text-align: center;
  color: var(--secondary-text-color);
}

/*=============== About us ================ */

/*=============== Customers/Users ========== */

.customers-users-item-left {
  margin-right: 90px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 248px;
}

.customers-users-item-right {
  margin-left: 90px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 248px;
}

.customers-users {
  background-image: linear-gradient(to right, #4c85ff 50%, #d2e1ff 50%);
}

.customers-users-wrapper {
  padding-top: 66px;
  padding-bottom: 66px;
}

.customers-users-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.customers-users-title-left {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 48px;
  line-height: 83px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.customers-users-text-left {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.customers-users-title-right {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 48px;
  line-height: 83px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.customers-users-text-right {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/*=============== Customers/Users ========= */

/*=============== Our blog ================ */

.our-blog-photo-1,
.our-blog-photo-2,
.our-blog-photo-3 {
  box-shadow: 0px 15px 100px 0 #d2e1ff;
  border-radius: 5px;
}

.about-us-link {
  display: inline;
  align-items: center;
}

.our-blog-right-text {
  display: block;
  width: 420px;
  margin-bottom: 30px;
}

.our-blog-right-title {
  margin-bottom: 32px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
}

.our-blog-left {
  padding: 63px 0 63px 35px;
}

.our-blog-right {
  padding: 63px 35px 63px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.our-blog-list {
  gap: 13px;
  display: flex;
  flex-wrap: wrap;
}

.photo-left {
  gap: 13px;
  display: flex;
  flex-direction: column;
}

.our-blog-photo-wrapper {
  justify-content: center;
  gap: 67px;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  background: #ffffff;
  border: 1px solid #d8e3fe;
  box-shadow: 0px 15px 50px #eff4ff;
}

.our-blog-wrapper {
  padding-top: 103px;
  padding-bottom: 103px;
}

.our-blog {
  background-color: #f5f8ff;
}

.our-blog-title {
  margin-bottom: 92px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--primary-text-color);
}

.text-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8d96bd;
}

/*=============== Our blog ================ */

/*=============== Review ================== */

.review-title {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  color: var(--primary-text-color);
}

.review-text {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.27;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*=============== Review ================== */

/*=============== Get Started ============= */

.get-started-subtitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.get-started-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.93;
  text-align: center;
  letter-spacing: 0.03em;
  /* color: #FFFFFFr); */
}

.get-started-title {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
  /* color: #FFFFFF; */
}

.get-started-title-bold {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
  /* color: #FFFFFF; */
}

.modal-btn-stroke-white {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  width: 113px;
  height: 43px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.modal-btn-stroke-white:hover,
.modal-btn-stroke-white:focus {
  background-color: white;
  color: var(--accent-color);
}

/*=============== Get Started ============= */

/*=============== Sign Up ================= */

.sign-up-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--primary-text-color);
}

.sign-up-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*=============== Sign Up ================= */

/*=============== Footer= ================= */

.footer-text {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

/*=============== Footer= ================ */
